#contacts {
    text-align: center;
    font-family: 'Roboto Slab', serif;
    background-color: #A6D0D8;
}

#contacts-heading {
    position: sticky;
    top: 0;
    z-index: 100;
    padding-top: 15px;
    background-color: #A6D0D8;
}

.contacts-item {
    font-size: 1.2rem;
    text-decoration: none;
}

.contacts-icon  {
    font-size: 30px;
    color: #ff5d3f;
}

#map-div {
    padding: 50px 0;
}