#main-page-heading {
    padding-top: 20%;
}

#main-page-img {
    height: 100%;
    width: auto;
    object-fit: contain;
    right: 10%;
}

#main-btn-container {
    padding: 10% 0;
}

.btn-main {
    font-family: 'Roboto Slab', serif;
    font-size: larger;
    margin: 10px 5px 0 0;
    white-space: nowrap;
}

.btn-main-icon {
    font-size: 25px;
    padding-right: 3px;
}

.btn-orange {
    color: #fff;
    background-color: #ff5d3f;
    border-color: #ff5d3f;
}

.btn-orange:hover {
    color: #fff;
    background-color: #bb482e;
    border-color: #bb482e;
}

.btn-outline-orange {
    color: #ff5d3f;
    border-color: #ff5d3f;
}

.btn-outline-orange:hover {
    color: #fff;
    background-color: #ff5d3f;
    border-color: #ff5d3f;
}

