{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/footer.css' %}">

<footer class="mt-auto py-3">
    <hr>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <a class="navbar-brand" href="#" id="logo">
                    <img src="{% static '/images/Logo.png' %}"
                         width="50" height="50" alt="Logo" loading="lazy">
                    ПермКровля
                </a>
            </div>
            <div class="col-md-3">
                <span class="company-info">
                    ООО "Сервис-Урал"<br>
                    ИНН 5904651012<br>
                    ОГРН 1145958074261<br>
                </span>
            </div>
            <div class="col-md-5">
                <span>
                © 2022, ООО "Сервис-Урал".<br>
                На сайте может быть представлен материал, который в настоящее время снят
                с производства, но возможен его выпуск в будущем.<br>
                Вся информация на сайте носит ознакомительный характер и ни при каких условиях
                не может считаться публичной офертой.</span>
            </div>
        </div>
    </div>
</footer>
