{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/header.css' %}">

<header>
    <nav class="nav nav-fill">
        <a class="navbar-brand" href="/" id="logo">
            <img src="{% static '/images/Logo.png' %}"
                 width="50" height="50" alt="Logo" loading="lazy">
            Пермь Кровля
        </a>
        <a class="nav-link" href="/#main">Главная</a>
        <a class="nav-link" href="/#catalog">Продукция</a>
        <a class="nav-link" href="/#price-list">Цены</a>
        <a class="nav-link" href="/#about">О компании</a>
        <a class="nav-link" href="/#contacts">Контакты</a>
        <a class="nav-link nav-phone" href="tel:83422021412">
            <i class="bi bi-telephone-fill"></i>
            +7 (342) 202-14-12
        </a>
    </nav>
</header>
