{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/about.css' %}">

<section id="about">
    <hr>
    <div class="container">
        <div class="row">
            <div class="col-md-6 text-center">
                <img class="img-fluid" src="{% static 'images/Certificate.png' %}"
                     alt="Сертификат от АО &quot;Мягкая Кровля&quot;">
            </div>
            <div class="col-md-6" id="about-text">
                <h2 id="about-heading">О компании</h2>
                <div id="about-description">
                    <p>
                        Компания "Сервис-Урал" является официальным представительством одного из
                        крупнейших производителей пенопласта АО "Мягкая кровля".
                    </p>
                    <p>
                        Мы предлагаем сотрудничество на взаимовыгодных условиях по самым низким ценам и
                        с поставкой в кратчайшие сроки.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <hr>
</section>