{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/catalog.css' %}">
<link href="https://fonts.googleapis.com/css?family=PT+Sans:regular,italic,bold,bolditalic" rel="stylesheet" type="text/css" />

<section id="catalog">
    <div class="text-center" id="catalog-heading">
        <h1>Наша продукция</h1>
        <hr>
    </div>
    <div class="row row-cols-1 row-cols-md-3 g-4 mx-1">
        <div class="col">
            <div class="card">
                <img src="{% static 'images/items/Армокров Премиум.jpg' %}"
                class="card-img-top" alt="Армокров Премиум (ЭКП, ЭПП)">
                <div class="card-body">
                    <h5 class="card-title">Армокров Премиум (ЭКП, ЭПП)</h5>
                    <ul class="item-description list-group list-group-flush">
                        <li class="list-group-item">Стандарт: ТУ 5774-024-00287823-2014</li>
                        <li class="list-group-item">Срок службы: не менее 25 лет</li>
                        <li class="list-group-item">Основа: Полиэстер</li>
                        <li class="list-group-item">Класс материала: Премиум</li>
                        <li class="list-group-item">
                            Цена: 3450 <span class="rub">&#8399;</span>
                            за 10 м<sup><small>2</small></sup>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="{% static 'images/items/Армокров Бизнес.jpg' %}"
                class="card-img-top" alt="Армокров Бизнес (ЭКП, ЭПП, ТКП, ТПП)">
                <div class="card-body">
                    <h5 class="card-title">Армокров Бизнес (ЭКП, ЭПП, ТКП, ТПП)</h5>
                    <ul class="item-description list-group list-group-flush">
                        <li class="list-group-item">Стандарт: ТУ 5774-024-00287823-2014</li>
                        <li class="list-group-item">Срок службы: не менее 20 лет</li>
                        <li class="list-group-item">Основа: Полиэстер</li>
                        <li class="list-group-item">Класс материала: Бизнес</li>
                        <li class="list-group-item">
                            Цена: 2100 <span class="rub">&#8399;</span>
                            за 10 м<sup><small>2</small></sup>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="{% static 'images/items/Армокров Оптим.jpg' %}"
                class="card-img-top" alt="Армокров Оптим (ТКП, ТПП, ХКП, ХПП)">
                <div class="card-body">
                    <h5 class="card-title">Армокров Оптим (ТКП, ТПП, ХКП, ХПП)</h5>
                    <ul class="item-description list-group list-group-flush">
                        <li class="list-group-item">Стандарт: ТУ 5774-024-00287823-2014</li>
                        <li class="list-group-item">Срок службы: не менее 10 лет</li>
                        <li class="list-group-item">Основа: Стеклоткань</li>
                        <li class="list-group-item">Класс материала: Оптим</li>
                        <li class="list-group-item">
                            Цена: 1120 <span class="rub">&#8399;</span>
                            за 10 м<sup><small>2</small></sup>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="{% static 'images/items/Армокров Базис.jpg' %}"
                class="card-img-top" alt="Армокров Базис (ТКП, ТПП, ХПП, ХКП)">
                <div class="card-body">
                    <h5 class="card-title">Армокров Базис (ТКП, ТПП, ХПП, ХКП)</h5>
                    <ul class="item-description list-group list-group-flush">
                        <li class="list-group-item">Стандарт: ТУ 5774-024-00287823-2014</li>
                        <li class="list-group-item">Срок службы: не менее 7 лет</li>
                        <li class="list-group-item">Основа: Комбиткань</li>
                        <li class="list-group-item">Класс материала: Базис</li>
                        <li class="list-group-item">
                            Цена: 738 <span class="rub">&#8399;</span>
                            за 9 м<sup><small>2</small></sup> / 10 м<sup><small>2</small></sup>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="{% static 'images/items/Рубемаст.jpg' %}"
                class="card-img-top" alt="Рубемаст">
                <div class="card-body">
                    <h5 class="card-title">Рубемаст</h5>
                    <ul class="item-description list-group list-group-flush">
                        <li class="list-group-item">Стандарт: ТУ 21-5744710-505-90</li>
                        <li class="list-group-item">Срок службы: не менее 7 лет</li>
                        <li class="list-group-item">Основа: Комбиткань</li>
                        <li class="list-group-item">Покрытие верхнее: талькомагнезит</li>
                        <li class="list-group-item">Покрытие нижнее: талькомагнезит</li>
                        <li class="list-group-item">Пропитка: нефтяной битум</li>
                        <li class="list-group-item">
                            Цена: 1045 <span class="rub">&#8399;</span>
                            за 10 м<sup><small>2</small></sup>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="{% static 'images/items/Рубероид.jpg' %}"
                class="card-img-top" alt="Рубероид">
                <div class="card-body">
                    <h5 class="card-title">Рубероид</h5>
                    <ul class="item-description list-group list-group-flush">
                        <li class="list-group-item">Стандарт: ГОСТ 10923-93</li>
                        <li class="list-group-item">Срок службы: не менее 7 лет</li>
                        <li class="list-group-item">Основа: Картон</li>
                        <li class="list-group-item">Покрытие верхнее: базальт</li>
                        <li class="list-group-item">Покрытие нижнее: талькомагнезит</li>
                        <li class="list-group-item">Пропитка: нефтяной битум</li>
                        <li class="list-group-item">
                            Цена: 510 <span class="rub">&#8399;</span>
                            за 10 м<sup><small>2</small></sup> / 15 м<sup><small>2</small></sup>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="{% static 'images/items/Битум.jpg' %}"
                class="card-img-top" alt="Битум">
                <div class="card-body">
                    <h5 class="card-title">Битум</h5>
                    <ul class="item-description list-group list-group-flush">
                        <li class="list-group-item">Стандарт: ГОСТ 6617-76</li>
                        <li class="list-group-item">Масса: 40 кг/мешок</li>
                        <li class="list-group-item">
                            Цена: 2020 <span class="rub">&#8399;</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="{% static 'images/items/Мастики, грунтовки.jpg' %}"
                class="card-img-top" alt="Мастики, грунтовки">
                <div class="card-body">
                    <h5 class="card-title">Мастики, грунтовки</h5>
                    <ul class="item-description list-group list-group-flush">
                        <li class="list-group-item">Поставляем грунтовки и мастики необходимых объемов в кратчайшие сроки</li>
                        <li class="list-group-item">
                            Цена: 1795 <span class="rub">&#8399;</span>
                            за 40 кг
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="{% static 'images/items/Термоконтейнеры.jpg' %}"
                class="card-img-top" alt="Термоконтейнеры">
                <div class="card-body">
                    <h5 class="card-title">Термоконтейнеры</h5>
                    <ul class="item-description list-group list-group-flush">
                        <li class="list-group-item">Объём: 80 литров</li>
                        <li class="list-group-item">Размеры: 760х420х405 мм</li>
                        <li class="list-group-item">
                            Цена: 1260 <span class="rub">&#8399;</span>/шт.
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="{% static 'images/items/Геотекстиль.jpg' %}"
                class="card-img-top" alt="Геотекстиль">
                <div class="card-body">
                    <h5 class="card-title">Геотекстиль нетканный "Дорнит"</h5>
                    <ul class="item-description list-group list-group-flush">
                        <li class="list-group-item">
                            Плотность: 150 гр. / м<sup><small>2</small></sup> (3*50)<br>
                            Цена: 46 <span class="rub">&#8399;</span> / м<sup><small>2</small></sup>
                        </li>
                        <li class="list-group-item">
                            Плотность: 200 гр. / м<sup><small>2</small></sup> (2*100)<br>
                            Цена: 49,50 <span class="rub">&#8399;</span> / м<sup><small>2</small></sup>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="{% static 'images/items/Пенопласт.jpg' %}"
                class="card-img-top" alt="Пенопласт">
                <div class="card-body">
                    <h5 class="card-title">Пенопласт</h5>
                    <ul class="item-description list-group list-group-flush">
                        <li class="list-group-item">Стандарт: ГОСТ 15588-2014</li>
                        <li class="list-group-item">Плотность пенополистирола: 10 кг / м<sup><small>3</small></sup></li>
                        <li class="list-group-item">Предел прочности при изгибе: не менее 60 кПа</li>
                        <li class="list-group-item">Влажность по массе: не более 5%</li>
                        <li class="list-group-item">Цена: Под заказ</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="{% static 'images/items/Пенопласт.jpg' %}"
                class="card-img-top" alt="Пенопласт">
                <div class="card-body">
                    <h5 class="card-title">Пенопласт</h5>
                    <ul class="item-description list-group list-group-flush">
                        <li class="list-group-item">Стандарт: ТУ 2244-001-48124154-2004</li>
                        <li class="list-group-item">Плотность пенополистирола: 7,5 кг / м<sup><small>3</small></sup></li>
                        <li class="list-group-item">Предел прочности при изгибе: не менее 30 кПа</li>
                        <li class="list-group-item">Влажность по массе: не более 6%</li>
                        <li class="list-group-item">Цена: Под заказ</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="text-center" id="after-description">
    <p>Продукция соответствует стандартам и ГОСТам.</p>
    <p>Гибкие условия работы. При увеличении объёма — цена за единицу товара снижается.</p>
</div>
<div class="text-center">
    <a class="btn btn-orange btn-catalog" id="price-list" href="/price-list">
        <i class="bi bi-file-earmark-ruled btn-catalog-icon"></i>
        Получить прайс
    </a>
</div>

