{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/contacts.css' %}">

<section id="contacts">
    <div id="contacts-heading">
        <h1>Контакты</h1>
    </div>
    <hr>
    <div class="container">
        <div class="row">
            <div class="col contacts-item">
                <i class="contacts-icon bi bi-briefcase"></i>
                <br>
                <a href="https://www.google.com/maps/dir//ул.+Сергея+Данщина,+4+Пермь+Пермский+край+614068/@58.011497,56.181138,18z/data=!4m8!4m7!1m0!1m5!1m1!1s0x43e8c76c13a06341:0x5900b6486aacb29d!2m2!1d56.181138!2d58.011497">
                    г. Пермь, ул. Сергея Данщина, д. 4, каб. 15
                </a>
            </div>
            <div class="col contacts-item">
                <i class="contacts-icon bi bi-telephone"></i>
                <br>
                <a href="tel:83422021412">+7 (342) 202-14-12</a>
                <br>
                <a href="tel:89223336612">+7 (922) 333-66-12 (Александр)</a>
            </div>
            <div class="col contacts-item">
                <i class="contacts-icon bi bi-envelope"></i>
                <br>
                <a href="mailto:servis-ural59@mail.ru">servis-ural59@mail.ru</a>
            </div>
        </div>
        <div class="row" id="map-div">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1056.8149492562795!2d56.18038197442653!3d58.011034790903615!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x43e8c76c13a06341%3A0x5900b6486aacb29d!2z0YPQuy4g0KHQtdGA0LPQtdGPINCU0LDQvdGJ0LjQvdCwLCA0LCDQn9C10YDQvNGMLCDQn9C10YDQvNGB0LrQuNC5INC60YDQsNC5LCA2MTQwNjg!5e0!3m2!1sru!2sru!4v1651495439540!5m2!1sru!2sru" width="800" height="600" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
</section>