{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/partners.css' %}">

<section id="partners" class="text-center">
    <div class="container-fluid">
        <h2 id="partners-heading">Наши партнёры</h2>
        <hr>
        <div class="row">
            <div class="col-md-2 partners-item">
                ООО "Урал-Снабжение"
            </div>
            <div class="col-md-2 partners-item">
                НП "ЭКСПЛУАТАЦИЯ НЕЖИЛОГО ФОНДА"
            </div>
            <div class="col-md-2 partners-item">
                <img class="img-fluid partners-img"
                     src="{% static 'images/partners/ТД Авин.jpg' %}" alt="Логотип ООО ТД Авин">
            </div>
            <div class="col-md-2 partners-item">
                <img class="img-fluid partners-img"
                     src="{% static 'images/partners/ПрофМастер.jpg' %}" alt="Логотип ООО
                     ПрофМастер">
            </div>
            <div class="col-md-2 partners-item">
                <img class="img-fluid partners-img"
                     src="{% static 'images/partners/Бонус.jpg' %}" alt="Логотип ООО Бонус">
            </div>
            <div class="col-md-2 partners-item">
                <img class="img-fluid partners-img"
                     src="{% static 'images/partners/АИМ.jpg' %}" alt="Логотип ООО АИМ">
            </div>
        </div>
        <hr>
    </div>
</section>